<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.mapper.DepartmentMapper">
    <cache-ref namespace="com.john.mapper.UserMapper"/>
    <select id="getDepartment" resultType="com.john.bean.Department">
        select id deptId, name
        from dept
        where id = #{id}
    </select>

    <resultMap id="dept" type="com.john.bean.Department">
        <id column="deptId" property="id"/>
        <result column="deptName" property="name"/>
        <collection property="userList" ofType="com.john.bean.User">
            <id column="userId" property="id"/>
            <result column="userName" property="name"/>
            <result column="email" property="email"/>
            <result column="gender" property="gender"/>
            <result column="last_name" property="lastName"/>
        </collection>
    </resultMap>
    <select id="getDepartmentPlus" resultMap="dept">
        select d.id deptId, d.name deptName, u.id userId, u.name userName, u.email, u.last_name, u.gender
        from dept d
                     left join user u on d.id = u.dept_id
        where d.id = #{id}
    </select>

    <resultMap id="deptStep" type="com.john.bean.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="userList" select="com.john.mapper.UserMapperExt.getUsersByDeptId" column="{deptId=id}" fetchType="eager">
        </collection>
    </resultMap>
    <select id="getDepartmentStep" resultMap="deptStep">
        select id, name
        from dept
        where id = #{id}
    </select>
</mapper>