<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.john.mapper.UserMapper">
    <!--<cache eviction="FIFO" flushInterval="1000" readOnly="false" size="1024"/>-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <select id="getUserMapByLastName" parameterType="string" resultType="user" useCache="false">
        select * from user where last_name = #{lastName}
    </select>
    <select id="getUserListByLastName" parameterType="string" resultType="user">
        select * from user where last_name = #{lastName}
    </select>
    <select id="getUserByIdAndName" resultType="user">
        select *
        from user
        where id = #{param1}
          and name = #{param2}
    </select>
    <select id="getUserByIdAndName1" resultType="user">
        select *
        from user
        where id = ${id}
          and name = #{name}
    </select>
    <select id="getUser" parameterType="user" resultType="user">
        select *
        from user
        where id = #{id}
          and name = #{name}
    </select>
    <select id="getUserByIds" parameterType="list" resultType="user">
        select *
        from user
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="getUserByMap" parameterType="map" resultType="user">
        select *
        from user
        where id = #{id}
          and name = #{name}
    </select>

    <select id="getUserById" resultType="user">
        select *
        from user
        where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.john.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into user(name, gender, email, last_name)
        values (#{name}, #{gender}, #{email}, #{lastName})
    </insert>

    <insert id="addUserForOracle" parameterType="com.john.bean.User" flushCache="true">
        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            <!--BEFORE  select seq.nextval from dual-->
            <!--AFTER   select seq.currval from dual-->
        </selectKey>
        <!--insert into user(id, name, gender, email, last_name)
        values (#{id}, #{name}, #{gender}, #{email}, #{lastName})-->
<!--        insert into user(id, name, gender, email, last_name)
        values (seq.nextval, #{name}, #{gender}, #{email}, #{lastName})-->
    </insert>
    <update id="updateUser" parameterType="com.john.bean.User">
        update user
        set `gender`    = #{gender},
            `email`     = #{email},
            `last_name` = #{lastName}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>
</mapper>